In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

PySpark tutorial part 1

In [3]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

Creating Spark session

In [6]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
spark

Reading csv file

In [8]:
df_pyspark = spark.read.csv('/content/drive/MyDrive/code/pyspark/test1.csv')

In [9]:
df_pyspark = spark.read.option('header','true').csv('/content/drive/MyDrive/code/pyspark/test1.csv', inferSchema=True)

Looking for data as dataframe

In [10]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

Showing schema - info about columns

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

Data type - dataframe

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

Showing list of all columns

In [13]:
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

Showing first n rows

In [14]:
df_pyspark.head(5)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000),
 Row(Name='Paul', age=24, Experience=3, Salary=20000),
 Row(Name='Harsha', age=21, Experience=1, Salary=15000)]

Selecting and showing one or multiple columns

In [15]:
df_pyspark.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [16]:
df_pyspark['Name']

Column<'Name'>

List of all columns data types

In [17]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

Showing describe - also non numerical columns are included

In [18]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

Adding columns in dataframe

In [19]:
df_pyspark = df_pyspark.withColumn('Experience-after-2-years', df_pyspark['Experience']+2)

In [20]:
df_pyspark.show()

+---------+---+----------+------+------------------------+
|     Name|age|Experience|Salary|Experience-after-2-years|
+---------+---+----------+------+------------------------+
|    Krish| 31|        10| 30000|                      12|
|Sudhanshu| 30|         8| 25000|                      10|
|    Sunny| 29|         4| 20000|                       6|
|     Paul| 24|         3| 20000|                       5|
|   Harsha| 21|         1| 15000|                       3|
|  Shubham| 23|         2| 18000|                       4|
+---------+---+----------+------+------------------------+

Drop the columns

In [21]:
df_pyspark = df_pyspark.drop('Experience-after-2-years')

In [22]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

Rename the column

In [25]:
df_pyspark = df_pyspark.withColumnRenamed('Name', 'New-Name')

In [26]:
df_pyspark.show()

+---------+---+----------+------+
| New-Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+